.DS_Store
/PrimeiroProjetoWeb/nbproject/private/
/PrimeiroProjetoWeb/build/
/PrimeiroProjetoWeb/dist/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Servlets/nbproject/private/
/Servlets/build/
/UniClima/nbproject/private/
/UniClima/build/
/SisAcademico/nbproject/private/
/SisAcademico/build/
/SisAcademico/dist/